/* css/stylemeth.css */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'Poppins';
    font-family: Ubuntu,sans-serif;
}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c3fcff;
    color: #333;
}

h1, h2, h3 {
    color: #001619;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1a1e23;
    border-bottom: 2px solid #a4a4a4;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1a1e23;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

ul, ol {
    margin: 10px 0 20px 20px;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 5px;
}

strong {
    color: #1c2630;
}

/* Container Styles */
.container1,
.container2,
#dh-parameters {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container1 {
    margin-top: 40px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #04a0c6;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Image Styles */
img.small-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

img.medium-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

/* Specific to Last h2 Element */
h2:last-of-type {
    margin-top: 40px;
}

/* Added button styles */
.button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #5c5c5c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #000000;
    color: #e9e9e9;
    text-decoration: none;
}